/* src/styles.scss */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif; /* Ensure Inter font is applied globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Keyframe for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in animation */
.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Keyframe for fade-in-up animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in-up animation */
.animate-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

/* Custom style for select dropdown arrow */
.select-with-arrow {
  position: relative;
}
.select-with-arrow select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 2.5rem; /* Space for the arrow */
}
.select-with-arrow::after {
  content: "▼"; /* Unicode down arrow */
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #6b7280; /* Gray-500 */
}
